body {
    background-color: #f3f3f3;
    margin: 0px;
    font-family: "Noto Sans TC";

}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.top {
    background-color: #59B1D4;
    min-height: 10px;
    height: auto;
}
.lang {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
}
.langcss {
    cursor: pointer;
    white-space: nowrap;
    color: #58829A;
}
.school-name-color {
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 500;
    color: #F9EEB6;
    text-decoration: none;
}
.p {
    font-size: 16px;
    font-weight: 600;
}
.icons{
    display: inline-flex;
    justify-content: flex-end;
    align-items: right;
    gap: 15px;
    margin-top: 8px;
}
.icons-img{
    width: 45px;

}
.lang-icons {
    display: flex;
    justify-content: flex-end;

}
.login-style{
    width: 75px;
    height: 40px;
    background-color: rgb(78, 157, 189);
    color: white;
    border-radius: 5px;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.upperblock {
    background-color: #ffffff;
    margin-top: 15px;
    width: 100%;
}
.school-name {
    width: 100%;
    clip-path: polygon(0px 0px, 480px 0px, 430px 100px, 0px 100px);
    margin-top: 8px;
    background-color: #59B1D4;
}
.header {
    margin-top: 8px;
    background-color: #59B1D4;
    
}

.header_name1 {
    display: inline-block;
    font-size: 20px;
    margin: 3px 0px;

}
.header_name2 {
    display: inline-block;
    position: relative;
    left: 2%;
    top: -2px;
    font-size: 16px;
    line-height: 1rem;
    font-weight: 600;
    font-family: "Trebuchet MS";

}
.header_name3 {
    display: inline-block;
    font-size: 38px;
    letter-spacing: 8px;
    margin: 0px -8px 0px 10px;
}
.nav-base{
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
    /* background-color: white; */
    /* border: 1px solid; */
}
.nav-block{
    position: relative;
    display: flex;
    justify-content:space-evenly;
    gap: 10px;
    align-items: center;
    width: 1300px;
    font-size:22px;
    color: #87543E;
    white-space: nowrap;
}
.nav-bar{
    display: flex;
    align-items: center;
    width: 130px;
    height: 50px;
    position: relative;
    top: -6px;
    padding: 3px 0px;
    margin-bottom: -6px;
    /* border: 1px solid; */
}
.frontpage {
    display: inline-flex;
    font-size: 20px;
    color: #59B1D4;
    white-space: nowrap;
}

.downloads-background {
    display: block;
    width: 264px;
    height: auto;
    fill: #F2BC9D;
}
.downloads-header {
    fill: #ffffff;
    font-size: 30px;
}
.downloads-container {
    padding: 0px 30px;
}
.downloads-container-flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.downloads-section {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    position: relative;
}

.downloads-sidebar {
    width: auto;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 12px;
}
.downloads-sidebar-border {
    width: auto;
    border: #59B1D4 2px solid;
    border-radius: 20px;
}
.sidebar-menu-first {
    background-color: #59B1D4;
    color: white;
    cursor: pointer;
    padding: 8px 40px 8px 20px;
}
.sidebar-menu {
    cursor: pointer;
    padding: 8px 40px 8px 20px;
}
.content-border {
    width: 100%;
    background-color: #58829A;
    border-radius: 15px;
    padding: 15px 0px;
    margin-top: 20px;
}
.content-inside-border {
    width: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    min-height: 300px;
    margin: 0px auto;
    padding: 5px 0px 40px;
}
.content-spacing {
    width: 90%;
    min-height: 460px;
    margin: 10px auto;
}
.content-items {
    border-bottom: 3px #58829A solid;
    padding: 14px 0px;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.content-text {
    word-break: break-word;
    flex: 5 1 80%;
}
.items-button {
    float: right;
    color: #59B1D4;
    font-weight: 550;
    font-size: 16px;
    padding: 5px 10px;
    margin: auto;
    white-space: nowrap;

}
.button-text {
    color: #59B1D4;
    cursor: pointer;
    text-decoration: none;
    display: inline;
}
.pagination {
    margin: auto;
}
.pagination-container {
    padding: 16px 12px;
    display: flex;
}
.base-cs-info{
    background-color:#58829A;
    color:white;
    padding: 20px 5% 5px;
    height: auto;
    font-size: 16px;
    white-space: nowrap;
}
.cs{
    display: flex;
}
.cs-icon{
    margin-right: 20px;
    width: 150px;
    height: 150px;
}
.cs-info{
    display: block;
    width: 100%;
}
.cs-info-title{
    font-size: 22px;
    margin-bottom: 12px;
    margin-right: 10px;
    display: block;
}
.addr-en{
    display: block;
    white-space: normal;
}
.tele-fax{
    color: #F9EEB6;
    white-space: nowrap;
    text-decoration: none;
    display: block;
}
.copyright{
    opacity: 0.6;
    font-size: 10px;
    text-align: center;
    white-space: normal;
    margin-top: 10px;
    border-top: 1px solid rgb(255, 255, 255);
    line-height: 30px;
}
.cs-info p {
    font-weight: normal;
}