body {
    background-color: #f3f3f3;
    margin: 0px;
    font-family: "Noto Sans TC";

}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.top {
    background-color: #59B1D4;
    min-height: 10px;
    height: auto;
}
.lang {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    display: flex;
    justify-content: flex-end;
}
.langcss {
    cursor: pointer;
    white-space: nowrap;
}
.p {
    font-size: 16px;
}
.upperblock {
    background-color: #ffffff;
    margin-top: 15px;
}
.header {
    margin-top: 8px;
    background-color: #59B1D4;
}

.header_name1 {
    display: inline-block;
    font-size: 20px;
    margin: 3px 0px;

}
.header_name2 {
    display: none;
    font-size: 16px;

}
.header_name3 {
    display: inline-block;
    font-size: 38px;
    letter-spacing: 8px;
    margin: 0px -8px 0px 10px;
}
.frontpage {
    display: inline-flex;
    font-size: 20px;
    color: #59B1D4;
    white-space: nowrap;
}

